@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slide-fade-in {
    @apply opacity-0 translate-x-[-10px] transition-all duration-500;
  }

  .group-hover\:slide-fade-in:hover .slide-fade-in {
    @apply opacity-100 translate-x-0;
  }

  .slide-fade-out {
    @apply opacity-0 -translate-x-2 transition-all duration-800;
  }
}

/* Remove number input spin buttons */
@layer base {
  input[type='number'] {
    -moz-appearance: textfield;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}